@import "_mixins.less";
/******************************************************************
Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

#container {
	width: 100%;

	#content {
		margin: auto;
		width: 972px;
		margin-top: 14px;

		.header,
		.footer {}

		.header {
			display: block;
			background-image: url(../images/NYTD-banner.jpg);
			background-repeat:no-repeat;
			height: 120px;
			width: 972px;
		}

		.footer {}

			#inner-content {

				font-family: georgia, "times new roman", times, serif;
				margin: auto;
				width: 972px;
				border: 1px solid @gray;

					#news-articles {
						width: 406px;
						list-style-type: none;
						padding: 0px;
						margin-top: 18px;
						margin-bottom: 0px;

							li:nth-child(8),
							li:last-child {
								display:none;
							}

							> li:first-child { 
								margin-bottom: 8px;
								margin-left: 10px;

									a {
									font-family: georgia, "times new roman", times, serif;
									font-size: 20px;
									font-weight: bold;
									line-height: 23px;
									color: #004276;
									text-decoration: none;

										a:visited,
										&:hover {							
											text-decoration: underline;
											}
									    }

									span {
									display: block;
									background-image: url(../images/lautenberg.jpg);
									background-repeat:no-repeat;
									height: 264px;
									width: 395px;
									margin-bottom: 4px;
								    }

								    p {
									.timesian(@sans-serif, 10px, @timesiangray, none);
									margin-top: 2px;
									margin-bottom: 8px;
									}

									p:nth-child(4){
									.timesian(@sans-serif, 9px, #909090 , none);
									margin-left: 258px;
									margin-top: 0px;
									margin-bottom: 3px;	
								    }

								    p:nth-child(5){
									.timesian(@sans-serif, 11px, #666, none);
									margin: 0px;	
									}

									p:nth-child(6){
									.font(@serif, 14px, @black, none);
									line-height: 1.2em;
									margin-top: 6px;
									}
								}    

							>   li:not(:first-child) {
								margin-bottom: 8px;
								margin-left: 10px;

									> a {
										font-family: georgia, "times new roman", times, serif;
										font-size: 15px;
										font-weight: bold;
										color: #004276;
										text-decoration: none;

										a:visited,
										&:hover {							
											text-decoration: underline;
										}
								    }

								    p:nth-child(2) {
									.timesian(@sans-serif, 10px, @timesiangray, none);
									margin-top: 1px;
									margin-bottom: 1px;
									}

									p:nth-child(4),
									p:nth-child(5) {
									display: none;	
									}

									p:nth-child(6){
									.font(@serif, 14px, @black, none);
									line-height: 1.2em;
									margin-top: 0px;
									margin-bottom: 0px;
									}
								}	
							}	
						}
					}
				}				